header.header
  h2 Сквозная аналитика
  .header__menu
    .header__dropdown.dropdown.closed
      .dropdown__btn
        a(href="#")
          span Проект: Camrent.store
      .dropdown__content
        ol.dropdown__list
          li.dropdown__item
            a(href="#") PrimeGate.io
          li.dropdown__item
            a(href="#") SubSound.ru
          li.dropdown__item
            a(href="#") Mail.ru
          li.dropdown__item
            a(href="#") Gmail.com

    a(href="#") Уведомления
    a(href="#") Новости
    a(href="#") Вернуться в АТС 2.0
    a(href="#") Настройки
