@import "../../local_modules/normalize.css/normalize";

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $color-extralight2;
    width: 100%;
    font-family: "Tele2 TextSans Web SHORT", Arial, sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.main {
    padding-top: 40px;
    padding-left: 40px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.main.opened-sidebar {
    padding-left: 190px;
}
