.sidebar {
    position: fixed;
    display: flex;
    height: 100vh;
    z-index: 5;

    &.opened {
        .sidebar-static__logo {
            opacity: 0;
        }

        .sidebar-additional {
            transform: none;
        }
    }
}

.sidebar-static {
    width: 40px;
    background: #8F9399;
    flex-shrink: 0;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 6;
}

.sidebar-static__logo {
    margin-bottom: 25px;
    transition: opacity 0.5s ease;
}

.main-item {
    width: 18px;
    height: 18px;
    margin-bottom: 13px;
    cursor: pointer;
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }
}

.sidebar-additional {
    width: 150px;
    background: #E8E8ED;
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    transition: 0.5s all ease;
    transform: translateX(-100%);
    position: absolute;
    left: 40px;
    height: 100%;
    border-right: 1px solid $lightgrey;

    //&.opened {
    //    transform: none;
    //}
}

.logo {
    display: block;
    align-self: center;
    margin-bottom: 21px;
}

.nested-menu-items {
    width: 100%;
    padding-left: 16px;
    margin: 0;
    list-style: none;
}

.menu-item-with-nested.opened {
    color: #C4C4C4;
}


.menu-item-with-nested + .nested-menu-items {
    transform: scaleY(0);
    transform-origin: top;
    overflow: hidden;
    transition: all 0.5s ease;
    clip: rect(auto, auto, 0, auto);

    &.opened {
        transform: scaleY(1);
    }
}


.menu-item {
    margin: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #8F9399;
    display: block;
    width: 100%;

    &:hover {
        color: #C4C4C4;
    }

    a {
        padding: 7px 5px 7px 0;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #8F9399;
        display: block;
        width: 100%;

        &:hover {
            color: #C4C4C4;
        }
    }

    a.router-link-active {
        color: #C4C4C4;
    }

}

.menu-items-title {
    background: #F9F8F9;
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    padding: 7px 8px;
    margin: 0;
    color: #C4C4C4;
}

.menu-item a.active {
    color: #C4C4C4;
}
