// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

$color-black: #000000;
$color-white: #ffffff;

$color-dark: #1f2229;
$color-lightgray2: #8f9399;
$color-light0: #f0f1f2;
$color-extralight: #f9f9fa;
$color-extralight2: #f5f5fa;
$color-light: #e8e8ed;
$color-lightgray: #d1d8d6;
$color-gray0: #7a7a7a;

$color-violet: #c882ff;
$color-green2: #38ffa6;
$color-yellow: #d7ff38;
$color-pink: #ff59a3;
$color-blue: #3fcbff;
$color-yellow2: #ffda57;
$color-red2: #d72f4b;
$color-green3: #41a674;
$color-red: #ff002a;
$color-orange: #ff641e;

$color-blue-b2b: #aac4d8;
$color-green-b2b: #b2cab3;
$color-purple-b2b: #d1cfe1;

$color-blue-dark: #68c0e6;
$color-violet-dark: #c185ff;
$color-pink-dark: #fb85ba;
$color-yellow-dark: #e1ff66;
$color-green2-dark: #64d49e;
$color-violet-light: #f4e6ff;
$color-pink-light: #ffe6f1;
$color-yellow-light: #e7ff85;

$fontStencil: "Stencil";
$fontTextSans: "Tele2 TextSans";
$fontDisplaySerif: "Tele2 DisplaySerif";
$fontTextSansWebShort: "Tele2 TextSans Web SHORT";

