// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

$color-black: #000000;
$color-white: #ffffff;

$color-dark: #1f2229;
$color-lightgray2: #8f9399;
$color-light0: #f0f1f2;
$color-extralight: #f9f9fa;
$color-extralight2: #f5f5fa;
$color-light: #e8e8ed;
$color-lightgray: #d1d8d6;
$color-gray0: #7a7a7a;

$color-violet: #c882ff;
$color-green2: #38ffa6;
$color-yellow: #d7ff38;
$color-pink: #ff59a3;
$color-blue: #3fcbff;
$color-yellow2: #ffda57;
$color-red2: #d72f4b;
$color-green3: #41a674;
$color-red: #ff002a;
$color-orange: #ff641e;

$color-blue-b2b: #aac4d8;
$color-green-b2b: #b2cab3;
$color-purple-b2b: #d1cfe1;

$color-blue-dark: #68c0e6;
$color-violet-dark: #c185ff;
$color-pink-dark: #fb85ba;
$color-yellow-dark: #e1ff66;
$color-green2-dark: #64d49e;
$color-violet-light: #f4e6ff;
$color-pink-light: #ffe6f1;
$color-yellow-light: #e7ff85;

$fontStencil: "Stencil";
$fontTextSans: "Tele2 TextSans";
$fontDisplaySerif: "Tele2 DisplaySerif";
$fontTextSansWebShort: "Tele2 TextSans Web SHORT";

$light: #f5f4dd !important;
$blue: #c2deef !default;
$blue-2: #64DAFF;
$white: #fffffd !default;
$white-2: #fafafa;
$white-gray: #e8eee9 !default;
$white-gray-2: #F1F2F4;
$black: #333;
$black-1: #000000;
$black-2: #737070;
$black-3: #434343;

$bbb: red;

$light0: #F0F1F2;
$lightgrey: #D1D8D6;
$gray0: #7A7A7A;
$light: #E8E8ED;
$cloudgreen: #3D9C6B;

$salad: #209E83;

$blue: rgba(30, 135, 196, 0.27);

$primary: #5c5f8d;
$info: #8eb4cb;
$success: #2ab27b;
$warning: #f9b328;
$danger: #bf0003;

$paper: #d5dcc6;
$paper-dark: #c3cab5;
$paper-dark2: #999f8d;

$note-paper: #faf5d2;
$note-paper-dark: #faefa7;
$note-paper-dark2: #F1DAB1;

$grass: #68c55d;

$gray: #f0f2f0;
$gray-2: #e7eaec;
$gray-3: #777777;
$gray-4: #d5d5d5;
$gray-5: #656363;
$gray-6: #BCBCBC;
$gray-7: #454545;
$gray-light: #dcdedb;
$gray-dark-2: #939393;
$gray-dark-1: #c4c4c4;
$gray-dark: #7a7b79;

$brown: #9C8F8F;
$brown-2: #A9A9A9;

$red: #C80000;
$red-2: rgba(179, 38, 38, 0.84);
$red-3: #EC5667;

$green: #15947D;
$green-2: #47B37F;

$text-color: #434a4e;
$text-color-2: #5f5f5f;
$text-color-gray: #818c92;
$text-color-gray-light: #bfcbd9;
